// Colors
$color-background-principal: #f9f9f9;
$color-background-secondary: #fff;
$color-background-button-inactive: #9b9b9b;
$color-background-accent: #ff656c;
$color-text-title: #333;
$tabs-background: #333;
$color-text-description: #9b9b9b;
$color-background-border-accent: #ff656c;
$color-background-border: #c6c6c6;
$color-accent: #ff656c;
$color-inactive: #c6c6c6;
$color-status-active: #28b19b;
$color-status-inactive: #a70635;
$color-radius: #f2f2f2;
$color-text-white: #fff;

// Gradients
$color-gradient-button: linear-gradient(140.77deg, #ff8355 0%, #ff4485 100%);
